In [11]:
# Hey
# Data analytics
import pandas as pd

industry_path = "industry.csv"
regions_path = "regions.csv"
S_path = "S-enterprises.csv"
ML_path = "M-L-enterprises.csv"

industry_df = pd.read_csv(ML_path, sep=';', encoding='cp1252')

industry_df.head()

                                                                                                                                                                               Share of enterprises who had any ICT related security incidents that led to consequences by type of consequences, study domain, observations and year
type of consequences                               study domain                  share of enterprises, percent 2021 share of enterprises, percent 2023 margin of error, ± 2021                            margin of error, ± 2023
unavailability of ICT services due to hardware/... 10 or more employees in total 17                                 16                                 2                                                                        2
                                                   10-49 employees               15                                 14                                 2                                                                        2
                                                   50-249 employees              24                                 25                                 3                                                                        4
                                                   250 or more employees         39                                 37                                 1                                                                        1